@import url('https://fonts.googleapis.com/css2?family=Combo&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'combo';
    font-size: 18px;
    text-align: left;
    background-image:url(img/crumpled-white-paperboard.jpg);
    background-size:100%;
    background-repeat: no-repeat;
}

.header {
    padding: 80px;
    height: 180px;
    display: flex;
    align-items: center;
  
}

.logoColumn {
    float: left;
    width: 50%;
    padding: 5px;
    padding-left: 110px;
    font-size: 30px;
    height: inherit;
    background-image: url(img/logo5.png);
    background-position: left;
    background-size:20%;
    background-repeat: no-repeat;

}

.linksColumn {
    float: left;
    text-align: right;
    width: 60%;
    padding-top: 50px;
    height: inherit;
}

.header:after {
    content: "";
    display: table;
    clear: both;
}

.main {
    display: flexbox;
    align-items: center; 
}

.purchaseFlow {
    background-image: url(img/purchaseFlow4.png);
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
    height: 100px;
}

.panel {
    float: left;
    width: 60%;
    height: 500px;
    padding: 80px;
    padding-left: 150px;
    
}

.purchaseSummary {
    float: right;
    width: 40%;
    height: 500px;
    background-image: url(img/post\ it\ oscuro.png);
    color: rgb(240, 217, 232);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 40px;
    padding-right: 200px;
    text-align: left;
}

.purchaseSummaryTable {
    width: 100%;
    text-align: right;
}

.main:after {
    content: "";
    display: table;
    clear: both;
}

.inputCreditCardNumber {
    font-family: inherit;
    width: 270px;
    height: 24px;
}

.inputExpirationDate {
    font-family: inherit;
    height: 24px
}

.inputSecurityCode{
    font-family: inherit;
    width: 130px;
    height: 24px;
}

.button {
    font-family: 'combo';
    border-radius: 5px;
}
